.fixed-top {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    padding: 8px;
    background-image: url("../images/HeaderBG.jpg")
}

#bGPics {
    background-image: url("../images/beavis-and-butthead-nin.jpg");
}

.instructions {
    text-align: center;
    width: 85%;
    font-weight: 300;
    color: red;
    text-shadow: 2px 2px 4px black;
    border-width: 6px;
    border-radius: 10px;
    border-color: orangered;
    border-style: double;
    background-color: palegoldenrod;
    margin: auto;
}

p {
    color: orange;
    font-size: 26px;
}

img {
    padding: 5px;
}
.card {
    background-color: grey;
    border-style: ridge;
    border-width: 12px;
    border-color: darkgrey;
    border-radius: 8px;
    margin-top: 20px;
}
